<div class="row" style="margin: 20px;">
	<div class="col-md-1"></div>
	<div class="bg-info col-md-3">
		<h3>分类统计</h3>
		<p>共 {{categoryCount}} 分类</p>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let category of categories">
				{{category.name}}
			</li>
		</ul>
	</div>
	
	<div class="col-md-1"></div>
	<div class="bg-success col-md-3">
		<h3>应用统计</h3>
		<p>共 {{applicationCount}} 应用</p>
		<div class="list-group">
			<a href="#" class="list-group-item active">
				下载量 Top3 应用
			</a>
			<a href="#" class="list-group-item" *ngFor="let application of sortApplications" routerLink="/applications/{{application.id}}">
				{{application.name}}
				<span class="badge">${{application.downloads}}</span>
			</a>
		</div>
	</div>
	
	<div class="col-md-1"></div>
	<div class="bg-info col-md-3">
		<application-search></application-search>
	</div>
</div>



